body {
    background-color:ghostwhite;
    text-align:right;    
}
h2{
    font-family:'Agency FB';
    font-display:auto;
    font-size:15px;

}

div{
    font-family:'Agency FB';
    font-size:11px;
}


